/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1;
  }
  
  h1 {
    font-size: 25px;
    color: #48bac2;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: 25px;
    color: #48bac2;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Giving our navbar some padding and a background color */
  .navbar {
    padding: 10px;
    background: #48bac2;
    font-weight: bold;
    font-family: 'Georgia', Times, serif;

  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. */
  .navbar li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    
  }
  
  

  .container {
    margin-top: 40px;
  
  }
  
  .col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}
  .col-md-6{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
  }


  
  