/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1;
  }
  
  h1 {
    font-size: 25px;
    color: #48bac2;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: 25px;
    color: #48bac2;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Giving our navbar some padding and a background color */
  .navbar {
    
    background: #48bac2;
  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. */
  .navbar li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: #000;
    text-decoration: none;
  }
  
  .col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}


  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  /*.header h1 {
    padding: 200px;
    margin: 20px;
    color: #000;
    text-align: center;
  }
  
  /* Giving the .post element margin on 3 sides */
  .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
  